@import "/css/root.css";

* {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

footer {
    width: 88.59%;
    margin-left: auto;
    color: white;
}

.footer-link {
    text-decoration: none;
    color: white;
}

#footer_content {
    background-color: var(--azul-claro);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(white);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link:hover i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;

}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#X {
    background-color: black;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link i:hover {
    color: #7f37c9;
}

.footer-list li a:hover {
    color: rgb(198, 198, 198);
    transition: 0.3s;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: white;
}

#footer_subscribe {
    color: white;
}

#input_group {
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group {
    all: unset;
    width: 100%;
}

#input_group button {
    background-color: var(--vermelho);
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 90%;
    border-radius: 0px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
    margin: 0;
    position: relative;
    top: -12px;
}

#input_group button:hover {
    opacity: 0.8;
}

#input_group textarea {
    padding: 4px;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;

}