@import "./root.css";


.main-content {
    display: flex;
    background-color: var(--branco);
    margin-top: 120px;
    margin-bottom: 120px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4% 0 0 auto;
    gap: 48px;
}

.content-text {
    width: 80%;
}

.content-subtitle {
    text-align: left;
    font-size: 1.215rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 48px;
    height: 100%;

}

.sidebar-title {
    color: var(--azul-medio);
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.link-btn {
    background-color: var(--azul-claro);
    color: var(--branco);
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    transition: all 0.4s ease;
    width: 120px;
}

.link-btn:hover {
    background-color: var(--azul-escuro);
}

.content-img {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 8px;
    font-size: 12px;
    color: var(--preto-05alpha);
}

.active {
    background-color: var(--azul-medio);
}