@import "/root.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Deca:wght@100..900&display=swap');

.nav-menu {
  display: flex;
  justify-content: space-between  ;
  border-bottom: 1px solid var(--azul-escuro);
  font-weight: 500;
  font-size: 20px;
  padding: 20px 8px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.links a {
  text-decoration: none;
  color: var(--azul-medio);
  transition: all 0.2s ease-in-out;
}

.links a:hover {
  color: var(--azul-claro);
}

.dropbtn {
  color: var(--azul-medio);
  padding: 12px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.dropbtn:hover {
  color: var(--azul-claro);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: var(--branco);
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  background-color: var(--azul-claro);
  width: max-content;
}

.dropdown-content a:first-child {
  border-radius: 12px 12px 0 0;
}

.dropdown-content a:last-child {
  border-radius: 0 0 12px 12px;
}


.dropdown-col {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--branco);
}

.dropdown-col a{
  color: var(--branco);
  transition: all 0.3s ease-in-out;
  width: 200px;
  padding: 8px;
}

.dropdown-col a:hover {
  color: var(--branco);
  background-color: var(--azul-medio);
}

.dropdown:hover .dropdown-content {
  display: flex;
  gap: 4px;
}

.empty-div-nav {
  width: 100px;
}

.main-content {}